* {
  box-sizing: border-box;
}

.home {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  height: auto;
}

.home_sliding_card_division {
  width: 100%;
  height: auto;
}
